@model JobCandidatesApi.Models.Candidate

<h2>Candidate Details</h2>

<div>
    <h4>@Model.firstname @Model.lastname</h4>
    <p><strong>Email:</strong> @Model.Email</p>
    <p><strong>Phone:</strong> @Model.Phone</p>
    <p><strong>LinkedIn:</strong> @Model.LinkedIn</p>
    <p><strong>GitHub:</strong> @Model.GitHub</p>
    <p><strong>Comments:</strong> @Model.TextComment</p>
</div>

<a asp-action="Index" class="btn btn-primary">Back to List</a>
